@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

:root {
    --background1: #C86177;
    --background1-alt: #B1546B;
    --background2: #6BAAC8;
    --background3: #7CC85D;
    --background4: #11052C;
    --font: white;
}

::-moz-selection {background: var(--font); color: var(--background1);}
::selection {background: var(--font); color: var(--background1);}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: rgb(0,0,0)}
::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,.3);}

* {
    box-sizing: border-box;
    outline: none;
}

.noselect, br {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invisible {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--font);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.button {
    top: 0;
    position: relative;
    width: 180px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: var(--background1);
    border: 0;
    color: var(--font);
    cursor: pointer;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 10px 0 var(--background1-alt),
                0 10px 10px rgba(0,0,0,.5),
                inset 10px 10px 10px rgba(255,255,255,.3);
    transition: .2s;
}

.button:hover {
    top: 10px;
    box-shadow: 0 0 0 var(--background1-alt),
                0 0 10px rgba(0,0,0,.3),
                inset 7px 7px 10px rgba(255,255,255,.3);
}

.button:active {
    background: var(--font);
    color: var(--background1);
    transition: .1s;
}

.color1 {background: var(--background1);}
.color2 {background: var(--background2);}
.color3 {background: var(--background3);}
.color4 {background: var(--background4);}

.fl {
    float: left;
}

.fr {
    float: right;
    text-align: right;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100% !important;
}

.container {
    width: 100%;
    height: 100%;
    perspective: 0;
}

.header {
    position: fixed;
    top:0; left:0;
    z-index: 9;
    width: 100%;
    font-size: 16px;
    padding: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
}

.header > .header-center > a, .header > .header-right > a {
    color: var(--font);
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 0 solid var(--font);
    transition: .1s ease;
    opacity: .9;
    position: relative;
    top: 0;
}

.header > .header-center > a:hover, .header > .header-right > a:hover, .onpage {
    border-bottom: 2px solid var(--font) !important;
    opacity: 1 !important;
    top: -2px !important;
}

.header-left {
    font-weight: bold;
}

.header-left > a {
    text-decoration: none;
    color: var(--font);
}

.header-left, .header-right {
    width: 10%;
    text-align: left;
}

.header-right {
    text-align: right
}

.header-center {
    width: 80%;
    text-align: center;
}

.header-center > a {
    margin: 0 20px;
}

.auto-width {
    width: 908px;
}

.foreground {
    height: 100%;
    z-index: 8;
    filter: drop-shadow(-40px 0 20px var(--background1));
}

.title-text {
    font-family: 'Poppins', sans-serif;
    font-size: 76px;
    line-height: 1;
}

.title-text > a {
    color: var(--font);
    cursor: pointer;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.165, 0.840, 0.580, 1.340);
}

.title-text > a:hover {
    letter-spacing: 5px;
    padding-left: 3px;
}

.title-text > span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--font);
    opacity: .5;
}

.clicktr {
    pointer-events: none;
}

.dot {
    position: relative;
    top: -6px;
    padding: 2px;
    font-size: 0;
    border-radius: 50%;
    background: var(--font);
}

#icon-d, #icon-m, #icon-w {
    position: relative;
    left: -80px;
    color: transparent;
}

#icon-w {
    left: -62px;
}

#icon-d:hover, #icon-m:hover, #icon-w:hover {
    color: var(--font);
    left: 0;
}

#icon-d:after {
    content: 'DESIGNER';
    color: var(--font);
}

#icon-m:after {
    content: 'MUSICIAN';
    color: var(--font);
}

#icon-w:after {
    content: 'DEVELOPER';
    color: var(--font);
}

.projects-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.projects-container > a {
    text-decoration: none;
    font-size: 32px;
    color: var(--font);
    cursor: pointer;
    transition: .2s;
    opacity: 1;
}

.projects-container:hover > a {
    opacity: .5;
}

.projects-container > a:hover {
    opacity: 1;
    letter-spacing: 2px;
}

.projects-container > h1 {
    font-size: 52px;
    color: var(--background3);
    background: var(--font);
}

.school-container {
    border: 2px solid rgba(255,255,255,.05);
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    border-radius: 20px;
}

.school-container > ul > li > a, p > a {
    color: #00c8b7;
    text-decoration: none;
}

.school-container > ul > li > a:hover, p > a:hover {
    text-decoration: underline;
}

.footer {
    bottom: 0;
    position: absolute;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.footer > a {
    font-size: 32px;
    color: var(--font);
    padding: 10px 100px;
}

.footer > a > i {
    transform: scaleX(2) scale(1);
    transition: .2s;
    opacity: .3;
}

.footer > a:hover > i {
    transform: scaleX(2) scale(1.1);
    opacity: 1;
}