#loader{
    position: absolute;
    z-index: 9;
    transition: 0s;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #E3DCBF;
}

#parent{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #070602;
    font-size: 2.2vw;
    font-weight: bold;
    //text-shadow: 0 12px 20px rgba(0,0,0,.2);
}

#d-balls{
    margin: 0 auto;
}

.l-balls{
    position: relative;
    z-index: 8;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 10000vw;
    margin: 1vw;
    float: left;
    animation: a-balls 1s infinite ease-in-out;
}

#l-ball1{animation-delay: .0s; background-color: #1A81C5}
#l-ball2{animation-delay: .3s; background-color: #ACB412}
#l-ball3{animation-delay: .6s; background-color: #DB0C60}

.l-lines{
    bottom: 0;
    width: 100%;
    height: 3.5vw;
    position: absolute;
    animation: l-lines infinite 2.2s;
    color: #97163B;
}

#l-line1{bottom: 0vw; background-color: #620C32; animation-delay: .0s}
#l-line2{bottom: 3.5vw; background-color: #97163B; animation-delay: .2s}
#l-line3{bottom: 7vw; background-color: #C6181C; animation-delay: .4s}
#l-line4{bottom: 10.5vw; background-color: #D93815; animation-delay: .6s}
#l-line5{bottom: 14vw; background-color: #E1B53D; animation-delay: .8s}

@keyframes a-balls {
    0%, 33%{top: 0;}
    33%, 66%{top: 14px; opacity: .7}
    66%, 100%{top: 0;}
}

@keyframes l-lines {
    0%, 33%{height: 3.5vw}
    33%, 66%{height: 4vw}
    66%, 100%{height: 3.5vw}
}