/* - "This values can be changed" - */
:root{
    --main-color: white;
    --secondary-color: black;
    --deg: 60deg;
}

/* - "CSS for Buttons" - */
.button{
    margin: 12px;
    width: 200px;
    height: 80px;
    border: 2px solid var(--main-color);
    font-size: 20px;
    background-color: var(--secondary-color);
    transition: .2s;
    cursor: pointer;
    color: var(--main-color);
}

.reverse{
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.round{
    border-radius: 50px;
}

.thin{
    height: 40px;
    font-size: 10px;
}

.button:hover{
    color: var(--secondary-color);
    animation: transform .1s linear;
    background-color: var(--main-color);
}

.reverse:hover{
    color: var(--main-color);
    animation: transform-backwards .1s linear;
    background-color: var(--secondary-color);
}

/* - "Animations - I could do better work" - */
@keyframes transform {
    0%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 0%, var(--secondary-color) 0%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 0%, var(--secondary-color) 0%);
        background: linear-gradient(var(--deg), var(--main-color) 0%, var(--secondary-color) 0%);
    }
    10%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 10%, var(--secondary-color) 10%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 10%, var(--secondary-color) 10%);
        background: linear-gradient(var(--deg), var(--main-color) 10%, var(--secondary-color) 10%);
    }
    20%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 20%, var(--secondary-color) 20%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 20%, var(--secondary-color) 20%);
        background: linear-gradient(var(--deg), var(--main-color) 20%, var(--secondary-color) 20%);
    }
    30%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 30%, var(--secondary-color) 30%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 30%, var(--secondary-color) 30%);
        background: linear-gradient(var(--deg), var(--main-color) 30%, var(--secondary-color) 30%);
    }
    40%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 40%, var(--secondary-color) 40%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 40%, var(--secondary-color) 40%);
        background: linear-gradient(var(--deg), var(--main-color) 40%, var(--secondary-color) 40%);
    }
    50%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 50%, var(--secondary-color) 50%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 50%, var(--secondary-color) 50%);
        background: linear-gradient(var(--deg), var(--main-color) 50%, var(--secondary-color) 50%);
    }
    60%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 60%, var(--secondary-color) 60%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 60%, var(--secondary-color) 60%);
        background: linear-gradient(var(--deg), var(--main-color) 60%, var(--secondary-color) 60%);
    }
    70%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 70%, var(--secondary-color) 70%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 70%, var(--secondary-color) 70%);
        background: linear-gradient(var(--deg), var(--main-color) 70%, var(--secondary-color) 70%);
    }
    80%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 80%, var(--secondary-color) 80%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 80%, var(--secondary-color) 80%);
        background: linear-gradient(var(--deg), var(--main-color) 80%, var(--secondary-color) 80%);
    }
    90%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 90%, var(--secondary-color) 90%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 90%, var(--secondary-color) 90%);
        background: linear-gradient(var(--deg), var(--main-color) 90%, var(--secondary-color) 90%);
    }
    100%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 100%, var(--secondary-color) 100%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 100%, var(--secondary-color) 100%);
        background: linear-gradient(var(--deg), var(--main-color) 100%, var(--secondary-color) 100%);
    }
}

@keyframes transform-backwards {
    0%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 100%, var(--secondary-color) 100%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 100%, var(--secondary-color) 100%);
        background: linear-gradient(var(--deg), var(--main-color) 100%, var(--secondary-color) 100%);
    }
    10%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 90%, var(--secondary-color) 90%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 90%, var(--secondary-color) 90%);
        background: linear-gradient(var(--deg), var(--main-color) 90%, var(--secondary-color) 90%);
    }
    20%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 80%, var(--secondary-color) 80%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 80%, var(--secondary-color) 80%);
        background: linear-gradient(var(--deg), var(--main-color) 80%, var(--secondary-color) 80%);
    }
    30%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 70%, var(--secondary-color) 70%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 70%, var(--secondary-color) 70%);
        background: linear-gradient(var(--deg), var(--main-color) 70%, var(--secondary-color) 70%);
    }
    40%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 60%, var(--secondary-color) 60%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 60%, var(--secondary-color) 60%);
        background: linear-gradient(var(--deg), var(--main-color) 60%, var(--secondary-color) 60%);
    }
    50%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 50%, var(--secondary-color) 50%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 50%, var(--secondary-color) 50%);
        background: linear-gradient(var(--deg), var(--main-color) 50%, var(--secondary-color) 50%);
    }
    60%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 40%, var(--secondary-color) 40%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 40%, var(--secondary-color) 40%);
        background: linear-gradient(var(--deg), var(--main-color) 40%, var(--secondary-color) 40%);
    }
    70%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 30%, var(--secondary-color) 30%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 30%, var(--secondary-color) 30%);
        background: linear-gradient(var(--deg), var(--main-color) 30%, var(--secondary-color) 30%);
    }
    80%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 20%, var(--secondary-color) 20%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 20%, var(--secondary-color) 20%);
        background: linear-gradient(var(--deg), var(--main-color) 20%, var(--secondary-color) 20%);
    }
    90%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 10%, var(--secondary-color) 10%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 10%, var(--secondary-color) 10%);
        background: linear-gradient(var(--deg), var(--main-color) 10%, var(--secondary-color) 10%);
    }
    100%{
        background: -moz-linear-gradient(var(--deg), var(--main-color) 0%, var(--secondary-color) 0%);
        background: -webkit-linear-gradient(var(--deg), var(--main-color) 0%, var(--secondary-color) 0%);
        background: linear-gradient(var(--deg), var(--main-color) 0%, var(--secondary-color) 0%);
    }
}

/* - "Everything else" - */
/* - "You dont need to copy this!" - */
*{
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

body,html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--secondary-color);
}

input{
    margin: 12px;
    background-color: var(--secondary-color);
    padding: 5px;
    width: 100px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    resize: none;
    text-align: center;
}

.input-text{
    padding: 50px 4px 0 4px;
    float: left;
    width: 33%;
    text-align: center;
    color: var(--main-color);
}

.input-button{
    margin: 11px 0;
    height: 42px;
    width: 100%;
}

.div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 914px;
}