@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --color1: #191a22; /* #272b37; */
    --color2: #2e608a;
    --color3: #57bcd0;
    --color4: #de5cd3;
    --color5: #e1ac28;
}

* {
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

*:focus {
    outline: none;
    opacity: .5;
}

.noselect, .button, img, br, .button, .about-icons, .header-right {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--color1);
    background: url("../assets/background_tile.png") repeat center fixed;
    scroll-behavior: smooth;
}

p {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}

cursive {
    font-family: 'Indie Flower', cursive !important;
}

#container {
    position: relative;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color1);
    z-index: 99;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.auto-width {
    width: 800px;
}

.button {
    position: relative;
    top: 0;
    display: block;
    margin: 10px auto;
    text-decoration: none;
    background: var(--color5);
    color: var(--color1);
    font-weight: 800;
    padding: 16px 24px;
    font-size: 18px;
    border-radius: 500px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.3);
    transition: .2s;
}

.button:hover {
    top: 6px;
    box-shadow: 0 0 0 rgba(0,0,0,0.3);
    background: var(--color4);
}

.spacer {
    margin: 60px;
}

.header {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left {
    position: relative;
}

.header-left > a {
    display: block;
    text-decoration: none;
    transition: .2s;
}

.header-left > a:hover > span {
    color: var(--color4);
    background: -webkit-linear-gradient(var(--color5), var(--color4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-left > a > span {
    transition: .2s;
    font-size: 42px;
    font-weight: 900;
    color: var(--color5);
    background: -webkit-linear-gradient(var(--color4), var(--color5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-left > a > cursive {
    font-size: 20px;
    color: var(--color3);
    position: absolute;
    display: block;
    width: 120px;
    top: 28px;
    left: 150px;
    transform: rotate(-3deg);
}

.header-right {
    text-align: right;
}

.header-right > a > svg {
    width: 28px;
    height: 28px;
    fill: #de5cd3;
    margin-left: 10px;
    transition: .2s;
}

.header-right > a:hover > svg {
    fill: #e1ac28;
}

.content {
    position: relative;
    padding: 20px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.content > h1 {
    color: white;
    font-size: 32px;
}

.main-graphic-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.main-graphic-svg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-graphic-svg-container > svg {
    height: 32px;
    margin: 30px 20px;
    fill: var(--color3);
    animation: rainbow 2s infinite;
}

.main-graphic-svg-container > svg:nth-child(2) {
    animation-delay: .2s;
}

.main-graphic-svg-container > svg:nth-child(3) {
    animation-delay: .4s;
}

.main-graphic-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 900;
    padding: 42px;
}

.main-graphic-text1 {
    font-weight: 900;
    font-size: 64px;
    line-height: .8;
    display: flex;
    flex-direction: column;
    color: var(--color1);
    align-items: center;
    background: -webkit-linear-gradient(var(--color4), var(--color5));
    animation: rainbow-outline 2s infinite;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    padding: 14px;
    text-align: center;
}

.main-graphic-text2, .main-graphic-text3 {
    font-weight: 800;
    text-align: center;
    margin: 40px auto;
}

.main-graphic-text3 {
    opacity: .4;
}

.background2 {
    z-index: 5;
    position: relative;
    background: var(--color1);
    padding: 120px 20px;
    --mask:
            linear-gradient(#000 0 0) 50%/100% calc(100% - 140px) no-repeat,
            radial-gradient(circle farthest-side,#000 98%,#0000) 50%/129.50px 140px repeat space;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    overflow: hidden;
}

.background2:before, .background2:after {
    padding: 0;
    margin: 0;
    z-index: -2;
    content: '';
    --mask:
            radial-gradient(70px at 50% 70px,#0000 97%,#000) 50% calc(50% - 70px)/ 129.50px 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: url("../assets/transition.png") center;
    position: absolute;
    width: 200%;
    height: 200px;
    animation: background-transition 6s infinite ease-in-out;
}

.background2:before {
    top: -120px;
}

.background2:after {
    bottom: -120px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px 20px;
    margin-bottom: 40px;
}

.project-child {
    display: block;
    width: 240px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: .2s;
    position: relative;
}

.project-child > img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border: 5px solid var(--color2);
    border-top: 22px solid var(--color2);
    padding: 4px;
    transition: .2s;
}

.project-child:before, .project-child:after {
    content: ' ';
    width: 8px;
    height: 8px;
    border: 4px solid var(--color1);
    position: absolute;
    right: 6px;
    top: 3px;
}

.project-child:after {
    right: 28px;
}

.project-child:hover > img {
    border: 5px solid var(--color3);
    border-top: 22px solid var(--color3);
}

.about {
    bottom: 100px;
    padding-top: 200px;
    padding-bottom: 140px;
    position: relative;background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(155,230,255,1) 100%);
    background-size: cover;
}

.about > div > span {
    font-weight: 900;
    font-size: 86px;
    margin: 0;
}

.switch-up, .switch-down {
    cursor: pointer;
    user-select: none;
}

.switch-up:before {
    content: '▲';
}

.switch-down:before {
    content: '▼';
}

#details-text {
    display: none;
}

.line {
    background: url("../assets/transition.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    margin: 40px 0;
}

.about-icons {
    text-decoration: none;
    color: var(--color4);
    fill: var(--color4);
    transition: .2s;
    margin-right: 20px;
}

.about-icons > svg {
    transition: .2s;
    height: 32px;
}

.about-icons:hover {
    color: var(--color5);
    fill: var(--color5);
}

.footer {
    background: var(--color1);
    height: 124px;
    position: relative;
    top: -100px;
    box-shadow: 0 124px var(--color1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: rgba(255,255,255,.2);
    font-weight: 600;
    font-size: 18px;
}

.center {
    text-align: center;
}

.footer-line {
    top: 0;
    height: 8px;
    background: url("../assets/transition.png") center;
    position: absolute;
    width: 200%;
    animation: background-transition 6s infinite ease-in-out;
}

@keyframes rainbow {
    0% {
        fill: var(--color3);
        color: var(--color3);
    }
    33% {
        fill: var(--color4);
        color: var(--color4);
    }
    66% {
        fill: var(--color5);
        color: var(--color5);
    }
    99% {
        fill: var(--color3);
        color: var(--color3);
    }
}

@keyframes rainbow-outline {
    0% {
        background: -webkit-linear-gradient(var(--color3), var(--color4));
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
    }
    33% {
        background: -webkit-linear-gradient(var(--color4), var(--color5));
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
    }
    66% {
        background: -webkit-linear-gradient(var(--color5), var(--color3));
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
    }
    99% {
        background: -webkit-linear-gradient(var(--color3), var(--color4));
        -webkit-background-clip: text;
        -webkit-text-stroke: 4px transparent;
    }
}

@keyframes background-transition {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header-right {
        padding-top: 12px;
        padding-left: 10px;
    }

    .auto-width {
        width: 100%;
    }

    .main-graphic-container {
        margin: 0;
        padding: 0;
        height: auto;
    }

    .main-graphic-svg-container > svg {
        height: 3.5vw;
        margin: 3.5vw 2vw;
    }

    .main-graphic-text2, .main-graphic-text3 {
        font-size: 2.5vw;
        margin: 6vw 0;
    }

    .main-graphic-svg-container {
        align-items: center;
    }

    .main-graphic-container {
        align-items: center;
        justify-content: center;
    }
}