@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    opacity: .5;
    outline: none;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff transparent;
}

*::-webkit-scrollbar {
    width: 14px;
    padding: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
    padding: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 5px solid #2d2c30;
}

::-moz-selection {
    background: #5bffae;
    color: #000000;
}

::selection {
    background: #5bffae;
    color: #000000;
}

body {
    margin: 0;
    padding: 0;
    background: #212024;
    overflow: hidden;
}

a {
    cursor: pointer;
}

h1 > span {
    color: #5bffae;
}

.noselect, br, img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    z-index: 1;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #212024;
    transition: 1s;
    z-index: 99;
}

.loader1, .loader2 {
    border-radius: 50%;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid transparent;
}

.loader1 {
    width: 60px;
    height: 60px;
    animation: loaderSpin linear 1s infinite reverse;
}

.loader2 {
    width: 70%;
    height: 70%;
    animation: loaderSpin ease-in 2s infinite;
}

@keyframes loaderSpin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    width: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.header-left {
    float: left;
}

.header-left > img {
    border-radius: 50%;
    position: relative;
    top: 8px;
}

.header-left > a:nth-child(3) {
    margin-left: 20px;
    color: rgba(255,255,255,.5);
    font-size: 12px;
    transition: .2s;
}

.header-right {
    float: right;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right > a {
    margin-left: 60px;
    transition: .2s;
}

.header-right > a:hover {
    opacity: .7;
}

.header > div > a {
    text-decoration: none;
    color: white;
}

.header-title {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    transition: .2s;
}

.header-title:hover {
    letter-spacing: 1px;
}

.header-title::after {
    content: 'Jan Poláček';
    font-weight: 300;
    position: absolute;
    font-size: 12px;
    opacity: .4;
    bottom: -10px;
    right: 0;
}

.header-button, button, .button {
    cursor: pointer;
    border: 0;
    background: #5bffae;
    color: #000000;
    box-shadow: 0 5px 30px rgba(0,0,0,.6);
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 100px;
    transition: .2s;
}


.header-button:hover, button:hover, .button:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 20px rgba(0,0,0,.6);
}

.content {
    width: 1000px;
    margin: 20px auto;
    height: auto;
    text-align: center;
    z-index: 20;
}

.content > h1 {
    color: white;
    margin: 0;
}

.content > a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    padding: 20px;
    transition: .2s;
}

.content > a:hover {
    opacity: .8;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "grid-a grid-b grid-d grid-d grid-e grid-e"
    "grid-c grid-c grid-d grid-d grid-f grid-f";
    margin: 60px auto 40px auto;
}

.grid > div {
    border-radius: 20px;
    padding: 60px 20px;
    overflow: hidden;
    transition: .2s;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.grid > div:hover {
    transform: scale(1.02);
}

.grid > div > svg {
    height: 18px;
    margin-right: 5px;
}

.grid-a {
    grid-area: grid-a;
    background: #fff468 url("../assets/bg-uix.png");
}

.grid-b {
    grid-area: grid-b;
    background: #5bffae url("../assets/bg-dev.png");
}

.grid-c {
    grid-area: grid-c;
    background: #79c9ff url("../assets/bg-web.png");
}

.grid-d {
    grid-area: grid-d;
    background: #cf7eff url("../assets/bg-log.png");
}

.grid-e {
    grid-area: grid-e;
    background: #ff94a0 url("../assets/bg-game.png");
}

.grid-f {
    grid-area: grid-f;
    background: #ffcb7f url("../assets/bg-app.png");
}

.window {
    display: none;
    overflow: auto;
    top: 300%;
    left: 0;
    position: absolute;
    z-index: 40;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: #2d2c30;
    box-shadow: 0 20px 40px rgba(0,0,0,.2);
    border-radius: 20px;
    margin: 20px;
    padding: 50px;
    color: white;
    transition: .5s ease-in-out;
    transform: scale(1);
}

.window-x, .hire-x {
    position: sticky;
    top: 0;
    left: 0;
    float: right;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 15px;
    transition: .2s;
    border-radius: 50%;
}

.window-x:after, .window-x:before, .hire-x:after, .hire-x:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 2px solid rgba(128,128,128,1);
    border-top: 2px solid rgba(128,128,128,1);
    transition: .2s;
}

.window-x:after, .hire-x:after {
    transform: rotate(135deg);
    left: 0px;
}

.window-x:before, .hire-x:before {
    transform: rotate(-45deg);
    left: 28px;
}

.window-x:hover:after, .hire-x:hover:after {
    left: -2px;
}

.window-x:hover:before, .hire-x:hover:before {
    left: 32px;
}

.window-x:hover, .hire-x:hover {
    transform: rotate(90deg);
}

.skill {
    color: #5bffae;
    background: rgba(91,255,174,.2);
    border: 1px solid #5bffae;
    width: auto;
    border-radius: 20px;
    float: left;
    padding: 1px 12px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    font-size: 12px;
}

.game {
    width: 100px;
    height: 300px;
    display: flex;
    margin: 5px;
    justify-items: center;
    align-content: center;
    flex-direction: column;
}

.window-img {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

.window-a {
    color: rgba(255,255,255,.5);
    transition: .2s;
}

.window-a:hover {
    color: rgba(255,255,255,.7);
}

.window-button {
    background: #5bffae;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    transition: .2s;
}

.window-button:hover {
    opacity: .7;
}

pre {
    border: 1px solid rgba(255,255,255,.2);
    padding: 30px;
    border-radius: 10px;
    background: rgba(255,255,255,.05);
}

.hire {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background: rgba(0,0,0,0);
    transition: .5s;
}

.hire-div {
    position: absolute;
    right: -100%;
    width: 500px;
    height: 100vh;
    background: #212024;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,.2);
    transition: .5s;
    z-index: 52;
}

.hire-div {
    color: white;
}

.hire-div > h1 {
    color: #5bffae;
}

table, tr {
    width: 100%;
}

td {
    width: 50%;
}

.hire-input, .hire-textarea {
    width: 100%;
    border: 1px solid rgba(255,255,255,.1);
    background: #2d2c30;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    transition: .2s;
    resize: none;
}

.hire-textarea {
    height: 200px;
}

.hire-closer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 51;
}

.hire-shh {
    opacity: .3;
    font-size: 14px;
    margin-top: 30px;
}

@media screen and (max-width: 1080px) {
    .header {
        padding: 10px;
    }
    .content {
        width: 100%;
        padding: 20px;
        z-index: -1;
    }

    .window {
        height: 100vh;
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 880px) {
    .header {
        flex-direction: column;
    }

    .header-left > a:nth-child(3) {
        display: none;
    }

    .header-button {
        background: none;
        padding: 0;
        color: #5bffae;
        transition: .2s;
        box-shadow: none;
    }

    .header-button:hover {
        opacity: .7;
        box-shadow: none;
    }

    .header-right > a {
        margin: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "grid-a grid-a grid-b grid-b"
            "grid-c grid-c grid-d grid-d"
            "grid-e grid-e grid-f grid-f";
    }

    .grid > div {
        padding: 10% 10px;
        border-radius: 10px;
    }

    .content > h1 {
        display: none;
    }

    .hire-div {
        width: 100%;
    }
}