@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('../assets/font/stylesheet.css');

* {
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

*:focus {
    opacity: .5;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../assets/background_tile.png");
    background-position-x: 32px;
}

.noselect, br, img, button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-moz-selection {
    background: white;
    color: black;
}

::selection {
    background: white;
    color: black;
}

.comics {
    font-family: 'comic_sans_msbold', sans-serif;
}

.yellow-text {
    color: #ffd128;
}

.container {
    z-index: 10;
    position: absolute;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h1, h2, h3 {
    text-align: center;
    color: #ec002b;
    font-weight: 800;
    margin: 0;
    margin-bottom: 12px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

button {
    background: black;
    color: white;
    font-weight: bold;
    font-size: 26px;
    height: 69px;
    cursor: pointer;
}

button:hover {
    color: #ffd128;
    border-bottom: 5px solid #909090;
    border-right: 5px solid #909090;
    border-top: 5px solid #494949;
    border-left: 5px solid #494949;
}

.auto-width {
    width: 1000px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

span {
    color: #ec002b;
    text-decoration: underline dotted;
}

img {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.devine {
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.devine > button {
    width: 340px;
}

.border {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-top: 5px solid #909090;
    border-left: 5px solid #909090;
    border-bottom: 5px solid #494949;
    border-right: 5px solid #494949;
    box-shadow: inset 0 0 0 5px black;
    padding: 5px;
}

.rainbow {
    animation: rainbow infinite 1.5s;
}

.devine > ul > li > a {
    animation: rainbow infinite 1.5s;
    text-decoration: underline dotted;
}

.devine > ul > li > a:hover {
    text-decoration: underline solid;
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.links > a {
    text-decoration: underline dotted;
}

.links > a:hover {
    text-decoration: underline solid;
}

.classic {
    font-size: 18px;
}

.win-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    font-family: monospace;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin: 4px;
    border: 1px dotted transparent;
}

.win-icon:hover {
    border: 1px dotted gray;
}

.win-icon > img {
    margin-bottom: 5px;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

.rotate {
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.clippy {
    z-index: 88;
    position: fixed;
    bottom: 0;
    right: 0;
}

#clippy {
    width: 48px;
    margin: 20px;
    transition: .4s cubic-bezier(.29,1.4,.7,1.01);
    cursor: pointer;
}

.clippy-bubble {
    position: fixed;
    bottom: 130px;
    right: 20px;
    max-width: 280px;
    background: #ffffcc;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: monospace;
    font-size: 16px;
    transition: .2s;
}

.footer {
    margin-top: 80px;
    margin-bottom: 40px;
    opacity: .2;
}

.loader {
    z-index: 99;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

.warning {
    width: 100%;
    height: 220px;
    background: url("../assets/warning_1.png") no-repeat center;
    background-size: contain;
    animation: warning .8s infinite cubic-bezier(1,0,1,0);
    animation-delay: .2s;
}

@keyframes warning {
    0% {background: url("../assets/warning_1.png") no-repeat center; background-size: contain;}
    33% {background: url("../assets/warning_2.png") no-repeat center; background-size: contain;}
    66% {background: url("../assets/warning_3.png") no-repeat center; background-size: contain;}
    100% {background: url("../assets/warning_1.png") no-repeat center; background-size: contain;}
}

.okay, .loading {
    width: 100%;
    height: 66px;
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

.okay {
    opacity: .5;
    animation: okay .8s infinite cubic-bezier(1,0,1,0);
}

.okay:hover {
    opacity: 1;
}

#okay {
    display: none;
}

.loading {
    animation: loading .8s infinite cubic-bezier(1,0,1,0);
}

@keyframes okay {
    0% {background: url("../assets/okay_alt_1.png") no-repeat center; background-size: contain;}
    33% {background: url("../assets/okay_alt_2.png") no-repeat center; background-size: contain;}
    66% {background: url("../assets/okay_alt_3.png") no-repeat center; background-size: contain;}
    100% {background: url("../assets/okay_alt_1.png") no-repeat center; background-size: contain;}
}

@keyframes loading {
    0% {background: url("../assets/loading_1.png") no-repeat center; background-size: contain;}
    50% {background: url("../assets/loading_2.png") no-repeat center; background-size: contain;}
    100% {background: url("../assets/loading_1.png") no-repeat center; background-size: contain;}
}

@media screen and (max-width: 1000px) {
    .auto-width {
        width: 100%;
    }
    img {
        width: 100%;
    }
    .devine > button {
        width: 240px;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 28px;
    }
    .classic {
        font-size: 14px;
    }
}