<div class="w-100% minH-100vh flexCenter flexMiddle bg-black">
    <div class="minW-1240px w-1240px ar-210/297 bg-backgroundcolor pos-relative of-hidden scale-1 tr-.5s min1240:scale-.5">
        <div class="pos-absolute bottom-0 left-0 w-100% flexColumn h-50%">
            <svg class="w-200% minW-200% pos-relative top--1px fill-additionalcolor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill-opacity="1"
                      d="M0,96L18.5,128C36.9,160,74,224,111,240C147.7,256,185,224,222,181.3C258.5,139,295,85,332,85.3C369.2,85,406,139,443,138.7C480,139,517,85,554,80C590.8,75,628,117,665,112C701.5,107,738,53,775,53.3C812.3,53,849,107,886,117.3C923.1,128,960,96,997,90.7C1033.8,85,1071,107,1108,133.3C1144.6,160,1182,192,1218,181.3C1255.4,171,1292,117,1329,101.3C1366.2,85,1403,107,1422,117.3L1440,128L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z"></path>
            </svg>
            <div class="bg-additionalcolor w-100% h-100%"></div>
        </div>
        <div class="pos-absolute bottom-0 w-100% p-42px-0 fs-22px o-.4 ta-center fw-800">&#169; ${variables.texts.${lang}.fullname} ${` return new Date().getFullYear()   `}</div>
        <div class="p-42px flexColumn g-24px">
            <i class="fs-360px pos-absolute left-50px top-100px rotate-20deg fa-regular fa-face-smile-wink"></i>
            <div class="pos-relative ml-270px bubble w-880px mb-16px flexColumn flexLeft flexTop ta-left">
                <div class="fw-900 fs-72px">${variables.texts.${lang}.fullname}</div>
                <div class="fs-32px fw-800">${variables.texts.${lang}.shortaboutme}</div>
                <div class="w-100% o-.7 m-12px-0">${variables.texts.${lang}.aboutme}</div>
                <div class="w-100% flexRow flexTop flexLeft mb-12px">
                    <div class="w-50% flexColumn g-22px">
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section1.name}</div>
                            <div class="o-.7">${variables.texts.${lang}.aboutmesection.section1.content}</div> 
                        </div>
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section2.name}</div>
                            <div class="o-.7">
                                <a href="mailto:${variables.texts.aboutmesection.section2.content}" target="_blank" class="c-black td-underline hover:td-underline-dotted hover:o-1">
                                    ${variables.texts.${lang}.aboutmesection.section2.content}
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="w-50% flexColumn g-22px">
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section3.name}</div>
                            <div class="o-.7">${variables.texts.${lang}.aboutmesection.section3.content}</div> 
                        </div>
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section4.name}</div>
                            <div class="o-.7">
                                ${`
                                    let stringBuilder = ""
                                    let content = ${variables.texts.${lang}.aboutmesection.section4.content}
                                    for (let i = 0; i < content.length; i++) {
                                        console.log(content[i])
                                        stringBuilder += "<a href='https://" + content[i] + "' target='_blank' class='c-black td-underline hover:td-underline-dotted hover:o-1'>" + content[i] + "</a>"
                                        if (i !== content.length - 1) {
                                            stringBuilder += "<br>"
                                        }
                                    }
                                    return stringBuilder
                                `}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100% flexRow g-38px flexLeft">
                    ${`
                        let stringBuilder = ""
                        let bubbles = ""
                        for (let align = 0; align < 2; align++) {
                            if (align === 0) {
                                bubbles = ${variables.texts.${lang}.sections.left}
                            } else {
                                bubbles = ${variables.texts.${lang}.sections.right}
                            }
                            stringBuilder += "<div class='w-50% flexColumn g-38px'>"
                            for (let i = 0; i < bubbles.length; i++) {
                                let content = bubbles[i].content
                                let contentBuilder = ""
                                switch (content.type) {
                                    case "chips":
                                        contentBuilder += "<div class='flexColumn flexLeft flexTop g-20px'>"
                                        for (let j = 0; j < content.entries.length; j++) {
                                            contentBuilder += "<div class='flexColumn flexLeft flexTop g-2px mb-4px'>"
                                            if (content.entries[j].chips) {
                                                contentBuilder += "<div class='flexRow flexWrap g-8px'>"
                                                for (let k = 0; k < content.entries[j].chips.length; k++) {
                                                    contentBuilder += "<div class='c-white bg-" + content.entries[j].chips[k].color + " fs-10px fw-600 br-12px p-4px-12px'>" + content.entries[j].chips[k].value + "</div>"
                                                }
                                                contentBuilder += "</div>"
                                            }
                                            contentBuilder += "<div class='flexColumn flexLeft flexTop'><div class='fw-800 fs-20px'>" + content.entries[j].value + "</div><div class=''>" + content.entries[j].description + "</div></div>"
                                            contentBuilder += "</div>"
                                        }
                                        contentBuilder += "</div>"
                                        break;
                                        case "rating":
                                        contentBuilder += "<div class='flexRow flexWrap flexLeft flexTop g-0-20px'>"
                                        for (let j = 0; j < content.entries.length; j++) {
                                            contentBuilder += "<div class='w-48% flexRow flexSpaceBetween'>"
                                            contentBuilder += "<div>" + content.entries[j].value + "</div>"
                                            let rating = content.entries[j].rating
                                            contentBuilder += "<div class='flexRow g-6px'>"
                                            for (let k = 0; k < 5; k++) {
                                                if (k >= rating) {
                                                    contentBuilder += "<div class='ar-1/1 h-6px br-50% bg-black70'></div>"
                                                } else {
                                                    contentBuilder += "<div class='ar-1/1 h-6px br-50% bg-black'></div>"
                                                }
                                            }
                                            contentBuilder += "</div>"
                                            contentBuilder += "</div>"
                                        }
                                        contentBuilder += "</div>"
                                        break;
                                    case "entries":
                                        contentBuilder += "<div class='flexRow flexWrap flexLeft flexTop g-0-20px'>"
                                        for (let j = 0; j < content.entries.length; j++) {
                                            contentBuilder += "<div class='w-48% flexRow flexSpaceBetween'>"
                                            contentBuilder += "<div>" + content.entries[j] + "</div>"
                                            contentBuilder += "</div>"
                                        }
                                        contentBuilder += "</div>"
                                        break;
                                    default:
                                        contentBuilder = JSON.stringify(content)
                                }
                                stringBuilder += "<div class='bubble w-100%'><div class='fw-800 fs-28px mb-12px'>" + bubbles[i].name + "</div>" + contentBuilder + "</div>"
                            }
                            stringBuilder += "</div>"
                        }
                        return stringBuilder
                    `}
            </div>
        </div>
        <img src="../res/assets/texture.jpg" class="noselect pointer_events-none w-100% h-100% pos-absolute top-0 left-0 o-.1"/> 
    </div>
</div>