<div class="w-100% minH-100vh minW-1240px flexCenter flexMiddle bg-black">
    <div id="export" class="minW-1240px w-1240px ar-210/297 bg-white pos-relative of-hidden tr-.5s" style="transform: scale(1);">
        <div class="bg-backgroundcolor dark:bg-white pos-absolute top-0 left-0 w-100% h-100%"></div>
        <div class="pos-absolute bottom-0 left-0 w-100% flexRow h-50% flexWrap o-1 dark:o-0">
            <div class="background-url('./../res/assets/elements/halftone_pattern.png') background_size-20px w-1240px height-30px pos-relatice top-1px"></div>
            <div class="bg-additionalcolor w-100% h-100%"></div>
        </div>
        <div class="pos-absolute bottom-0 w-100% p-42px-0 fs-22px o-.4 ta-center fw-800">&#169; ${variables.texts.${lang}.fullname} ${` return new Date().getFullYear()   `}</div>
        <div class="p-42px flexColumn g-24px">
            <img class="pos-absolute left-50px top-42px br-4px b-1px-dashed-#dd3333 p-12px" width="250" height="350" src="./../res/assets/images/me.png"/>
            <div class="pos-relative ml-270px bubble w-880px mb-16px flexColumn flexLeft flexTop ta-left">
                <div class="fw-900 fs-72px">${variables.texts.${lang}.fullname}</div>
                <div class="fs-32px fw-800">${variables.texts.${lang}.shortaboutme}</div>
                <div class="w-100% o-.7 m-12px-0">${variables.texts.${lang}.aboutme}</div>
                <div class="w-100% flexRow flexTop flexLeft mb-12px">
                    <div class="w-50% flexColumn g-22px">
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section1.name}</div>
                            <div class="o-.7">${variables.texts.${lang}.aboutmesection.section1.content}</div> 
                        </div>
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section2.name}</div>
                            <div class="o-.7">
                                <a href="mailto:${variables.texts.aboutmesection.section2.content}" target="_blank" class="c-black td-underline hover:td-underline-dotted hover:o-1">
                                    ${variables.texts.${lang}.aboutmesection.section2.content}
                                </a>
                            </div> 
                        </div>
                    </div>
                    <div class="w-50% flexColumn g-22px">
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section3.name}</div>
                            <div class="o-.7">${variables.texts.${lang}.aboutmesection.section3.content}</div> 
                        </div>
                        <div class="w-100% flexRow flexTop flexLeft">
                            <div class="w-140px fw-600">${variables.texts.${lang}.aboutmesection.section4.name}</div>
                            <div class="o-.7">
                                ${`
                                    let stringBuilder = ""
                                    let content = ${variables.texts.${lang}.aboutmesection.section4.content}
                                    for (let i = 0; i < content.length; i++) {
                                        console.log(content[i])
                                        stringBuilder += "<a href='https://" + content[i] + "' target='_blank' class='c-black td-underline hover:td-underline-dotted hover:o-1'>" + content[i] + "</a>"
                                        if (i !== content.length - 1) {
                                            stringBuilder += "<br>"
                                        }
                                    }
                                    return stringBuilder
                                `}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100% flexRow g-38px flexLeft">
                    ${`
                        let stringBuilder = ""
                        let bubbles = ""
                        for (let align = 0; align < 2; align++) {
                            if (align === 0) {
                                bubbles = ${variables.texts.${lang}.sections.left}
                            } else {
                                bubbles = ${variables.texts.${lang}.sections.right}
                            }
                            stringBuilder += "<div class='w-50% flexColumn g-38px'>"
                            for (let i = 0; i < bubbles.length; i++) {
                                let content = bubbles[i].content
                                let contentBuilder = ""
                                switch (content.type) {
                                    case "chips":
                                        contentBuilder += "<div class='flexColumn flexLeft flexTop g-20px'>"
                                        for (let j = 0; j < content.entries.length; j++) {
                                            contentBuilder += "<div class='flexColumn flexLeft flexTop g-2px mb-4px'>"
                                            if (content.entries[j].chips) {
                                                contentBuilder += "<div class='flexRow flexWrap g-8px'>"
                                                for (let k = 0; k < content.entries[j].chips.length; k++) {
                                                    contentBuilder += "<div class='c-white bg-" + content.entries[j].chips[k].color + " fs-10px fw-600 br-12px p-4px-12px'>" + content.entries[j].chips[k].value + "</div>"
                                                }
                                                contentBuilder += "</div>"
                                            }
                                            contentBuilder += "<div class='flexColumn flexLeft flexTop'><div class='fw-800 fs-20px'>" + content.entries[j].value + "</div><div class=''>" + content.entries[j].description + "</div></div>"
                                            contentBuilder += "</div>"
                                        }
                                        contentBuilder += "</div>"
                                        break;
                                        case "rating":
                                        contentBuilder += "<div class='flexRow flexWrap flexLeft flexTop g-0-20px'>"
                                        for (let j = 0; j < content.entries.length; j++) {
                                            contentBuilder += "<div class='w-48% flexRow flexSpaceBetween'>"
                                            contentBuilder += "<div>" + content.entries[j].value + "</div>"
                                            let rating = content.entries[j].rating
                                            contentBuilder += "<div class='flexRow g-6px'>"
                                            for (let k = 0; k < 5; k++) {
                                                if (k >= rating) {
                                                    contentBuilder += "<div class='ar-1/1 h-6px br-50% bg-black70'></div>"
                                                } else {
                                                    contentBuilder += "<div class='ar-1/1 h-6px br-50% bg-black'></div>"
                                                }
                                            }
                                            contentBuilder += "</div>"
                                            contentBuilder += "</div>"
                                        }
                                        contentBuilder += "</div>"
                                        break;
                                    case "entries":
                                        contentBuilder += "<div class='flexRow flexWrap flexLeft flexTop g-0-20px'>"
                                        for (let j = 0; j < content.entries.length; j++) {
                                            contentBuilder += "<div class='w-48% flexRow flexSpaceBetween'>"
                                            contentBuilder += "<div>" + content.entries[j] + "</div>"
                                            contentBuilder += "</div>"
                                        }
                                        contentBuilder += "</div>"
                                        break;
                                    default:
                                        contentBuilder = JSON.stringify(content)
                                }
                                stringBuilder += "<div class='bubble w-100%'><div class='fw-800 fs-28px mb-12px'>" + bubbles[i].name + "</div>" + contentBuilder + "</div>"
                            }
                            stringBuilder += "</div>"
                        }
                        return stringBuilder
                    `}
            </div>
        </div>
    </div>
</div>
